#grad {
  background-image: linear-gradient(to bottom right, #87CEEB, #0000CD);
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-family: STKaiti;
  font-size: 36px; 
}

ul {
  list-style-type: none;
  width: 70%;
  margin: 0px auto;
  padding: 0px;
  overflow: hidden;
  background-color: #87CEEB;
}

li {
  float: left;
  width: 25%;
}

li a {
  width: 100%;
  display: block;
  color: white;
  font-family: KaiTi;
  font-size: 20px;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

/* 当鼠标悬停时把链接颜色更改为 #00008B（蓝色） */
li a:hover {
  background-color: #00008B;
}

.active {
  background-color: #00008B;
}

#firefighter {
  text-align: center;
  font-family: LiSu;
  font-size: 24px;
  font-weight: bold;
  color: #D2B48C;
}

video {
  width: 36%;
  height: auto;
  margin: 3px 396px;
  padding: 0px;
}

img {
  width: 32%;
  height: auto;
  margin: 30px 6px;
  padding: 0px;
}

#praises {
  font-family: Microsoft YaHei;
  font-size: 20px;
  color: azure;
}

.A {
  text-align: left;
}

.B {
  text-align: center;
}

.C {
  text-align: right;
}

#footer {
  text-align: center;
  font-family: SimSun;
  font-size: 12px;
  color: gray;
}